@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";
* {
  box-sizing: border-box;
  text-decoration: none;
}
a {
  color: #0fbcf9;
}
a:visited {
  color: #0fbcf9;
}
button {
  cursor: pointer;
}

input {
  all: unset;
  max-width: 300px;
  width: 100%;
  border-radius: 30px;
  background-color: white;
  padding: 10px;
  font-size: 12px;
  box-sizing: content-box;
  color: #000;
}

body {
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.authContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 320px;
}
.authForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  margin-top: 30px;
}
.authForm > input {
  margin-bottom: 10px;
}

.authForm > input:nth-child(3) {
  background-color: #0fbcf9;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.signBtn {
  max-width: 300px;
  width: 100%;
  border-radius: 30px;
  background-color: #0fbcf9;
  padding: 10px;
  font-size: 12px;
  box-sizing: content-box;
  text-align: center;
  margin-bottom: 15px;
}

.socialBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  width: 100%;
}
.container button {
  max-width: 160px;
  border: none;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  color: black;
}
.container svg {
  margin-left: 5px;
}

nav {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 30px;
  text-align: center;
}
nav div {
  margin-top: 5px;
  color: white;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hweetForm {
  max-width: 300px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hweetInput {
  border: 1px solid #0fbcf9;
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
}

.factoryInput_container {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.hweetForm label {
  color: #0fbcf9;
  cursor: pointer;
}
#addPhoto {
  opacity: 0;
}
#hweetBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #0fbcf9;
  text-align: center;
  font-size: 15px;
}
.hweetContainer {
  max-width: 300px;
  width: 100%;
}
.hweet {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  margin: 25px 0px;
}
.hweet img {
  border-radius: 25px;
  position: absolute;
  top: 15px;
  right: 0;
}
.editBtnContainer {
  position: absolute;
  top: 0;
  right: 0;
}
.editBtnContainer button {
  background-color: transparent;
  border: 0px;
  margin-right: 10px;
}
.photoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoContainer img {
  border-radius: 25px;
}

.photoContainer button {
  background-color: transparent;
  border: none;
  color: #0fbcf9;
}

.editingContainer {
  background-color: white;
  border-radius: 15px;
  max-width: 300px;
  width: 100%;
  height: 100px;
}
.editingContainer form {
  max-width: 300px;
  width: 100%;
}
.editingContainer form > input {
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
}
.editingContainer .editInput {
  border: 1px solid #000;
}
.updateBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.updateBtnContainer .updateBtn {
  margin: 5px 0px;
  color: white;
  box-sizing: border-box;
  background-color: #0fbcf9;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.updateBtnContainer .updateCancleBtn {
  color: white;
  box-sizing: border-box;
  border-radius: 15px;
  border: none;
  height: 30px;
  background-color: #e74c3c;
  text-align: center;
  width: 100%;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileForm {
  max-width: 320px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileForm input {
  margin-bottom: 10px;
}

.profileForm .profileInput {
  color: #000;
}
.profileForm .profileSubmitBtn {
  background-color: #0fbcf9;
  text-align: center;
}

.profileForm div {
  width: 100%;
  border-top: 1px solid #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileForm div button {
  color: white;
  box-sizing: border-box;
  border-radius: 15px;
  border: none;
  height: 30px;
  background-color: #e74c3c;
  text-align: center;
  width: 100%;
}
